.button{
	background-color: #f1f3f6;
	height: 100%;
	/*border: solid 1px;*/
	display: inline-block;
	font: 12px/12px "OpenSansRegular", tahoma,arial,sans-serif;
	font-color: black;
	/*padding: 20px 20px 0 20px;*/
	/*border-radius: 2px;*/
	cursor: pointer;
}

.button.button-large{
	font-size: 20px;
	line-height: 16px;
	padding: 22px 25px 0 20px;
}

.button.button-danger{
    color: white;
    background-color: #e74c3c;
    /*border:1px solid #c1272d;*/
}

.button:hover{
 background-color: #d64132;
}

.button:active{
	background-color: #bb3628;
     /*box-shadow: inset 0 0 10px rgba(0,0,0,0.3);*/
}

.button.button-success{
	color: white;
	background-color: #7ecd69;
	border:1px solid #468136;
}

.button.button-cart:before{
	font-family: "FontAwesome";
	content: "\f218"
}