.search {
  /*background: #f1f1f1;*/
   /*float:left;*/
  /*clear:left;*/
}

.search input{
  padding: 10px;
  margin-bottom: 20px;
  color:#555;
  /*margin: 5px 0 0 5px;*/
  height: 51px;
  font-size: 15pt;
  outline: none;
      border: none;

  /* border-radius: 100px 0 0 100px; */
}

.search .searchbutton{
	background-color: #e74c3c;
	/*border: solid 1px;*/
	display: inline-block;
	/*font: 12px/12px "OpenSansRegular", tahoma,arial,sans-serif;*/
	/*padding: 20px 20px 0 20px;*/
	/*border-radius: 2px;*/
	color: white;
	cursor: pointer;
    height: 50px;
	width: 50px;
    padding: 17px 1px 0px 17px;
    margin-left: -5px;
    font-size: 15px;
}



.searchbutton:hover{
 background-color: #d64132;
}

.searchbutton:active{
	background-color: #bb3628;
     /*box-shadow: inset 0 0 10px rgba(0,0,0,0.3);*/
}




.left-menu-filters{
	border-radius: 5px;
	background-color: #3b4050;
	margin-top: 20px;
	overflow: hidden;
	font-size: 13px;
	font-family: "OpenSansBold",sans-serif;
}

.left-menu-filters .left-menu-title{
	padding: 17px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	font-weight: 700;
	font-size: 16px;
	background-color: #222735;
}

.range1{
	width: 200px;
	width: 200px;
    /* margin-left: 10px; */
    margin: 15px 20px;
}





/*//////////////////////////////*/


.datisssinput{
	color: white;
}

.left-menu div{
	/*margin-top: 10px;*/
	margin-left: 10px;
	color: white;
}

input[name="inp"]{
	width: 40px;
}



.form-wrapper {
  
  float:left;
  width:100%;
  max-width:75.000em;
  background:#3b4050;
  overflow:hidden;
}
.form-wrapper label, .form-wrapper .radio-check-label {
	color: white;
	margin-left: 10px;
  width:100%;
  float:left;
  margin-bottom:1em;
  border: 0;
}
.form-wrapper label span, .form-wrapper .notes, .form-wrapper .radio-check-label span.label {
  float:left;
  width: 25%;

  text-align:right;
}
div.input-wrapper {
      width: 70%;
    /* float: right; */
    padding: 10px;
}
.form-wrapper input, .form-wrapper select, .form-wrapper textarea, form-wrapper .radio {
  width:100%;
  padding:0.625em 0;
}
.form-wrapper .text input, .form-wrapper textarea {
  width:98%;
  padding-left: 1%; /* % will not work in FF*/
  padding-right: 1%; /* % will not work in FF*/
}

.form-wrapper .radio, .form-wrapper .checkbox {
  position:relative;
}
.form-wrapper .radio span, .form-wrapper .checkbox span {
  width :90%;
  text-align:left;
  padding-left:1.5em;
}
.form-wrapper .radio input, .form-wrapper .checkbox input {
  position:absolute;
  left:0;
  top:0;
  width:1em;
  height:1em;
}

input[type=reset], input[type=submit] {
  width:auto;
  max-width:34%;
  float:right;
}
input[type=submit] {
  margin-left:2%
}
.form-wrapper .notes {
  margin-top:1em;
  width:100%;
  text-align:left;
}

/* DOWN HERE: Only theming */ 

/* Light Theme -----------------    */ 
html.light{
  background:#EEE;
}

.form-wrapper.light {
  background:#EEE;
  font-family:'PT Sans', Arial, sans-serif;
  font-weight:normal;
  font-size:1em;
  line-height:1em;
  color: white;
  padding:1em 0;
}
/* TEXT & TEXTAREA */
.light label.text input, .light label.text textarea {
  border: 1px solid #cccccc;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-radius: 3px;
  background: #fff;
  color: #fff;
  transition:background .2s;
}
.dropdown{
	margin-left: 10px;
	color: #fff;
}


/* DROPDOWN & MULTIPLE*/
.light label.dropdown select, .light label.multiple select {
	margin-left: 2px;
  background: #e5e5e5;
  border: 1px solid #cccccc;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-radius:3px;
  transition:background .2s;
}
.light label.multiple select {
  padding-bottom:1.875em;
}
.light label.dropdown select option, .light label.multiple select option  {
  background:#e5e5e5;
  margin-bottom:0.625em 1%;
  cursor:pointer;
  transition:background .2s;
}
.light label.dropdown select:focus, .light label.multiple select:focus, .light label.dropdown select:focus option, .light label.multiple select:focus option {
  background:#FFF;
}
/* RADIO & CHECKBOX */

.radio-check-label{
	margin-left: 10px;
	color: white;
	border:none;
}
.light .radio-check-label label {
  display:block;
  /*border: 1px solid #cccccc;*/
  border-top-color: #fff;
  border-right-color: #fff;
  border-radius: 3px;
  line-height:1em;
  background: #e5e5e5;
  cursor:pointer;
  overflow:hidden;
  margin-bottom:0.5em;
}
.light .radio-check-label label input {
  opacity:0.01
}
.light .radio-check-label label span {
  display:block;
  padding: 0.563em 15% 0.563em 1.875em;
  transition:background .2s;
  border-radius:3px;
}
.light .radio-check-label label span:before {
  content: "";
  display:block;
  width:12px;
  height:12px;
  background:#ffffff;
  position:absolute;
  left:8px;
  top:11px;
  /*border:1px solid #b9b9b9;*/
}
.light .radio-check-label label.radio span:before {
  border-radius:8px;
}
.light .radio-check-label label.checkbox span:before {
  border-radius:2px;
}
.light .radio-check-label input:checked ~ span:before {
  background-color:#424242;
  border-color:transparent;
}
.light .radio-check-label input:checked ~ span { 
  background:#FFF;
}
/* SUBMIT & RESET */
.light input[name=submit], .light input[name=reset] {
  margin-top:2.50em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0.563em 4em;
  background: #e5e5e5;
  color:#fff;
  font-size:1em;
  cursor:pointer;
  transition:background 0.2s;
}
.light input[name=submit] {
  padding:0.563em 6em;
}
.light input[name="reset"]:hover, .light input[name="submit"]:hover {
  color:#FFF;
}
.light input[name="reset"]:hover {
  background:#8C1D04;
}
.light input[name="submit"]:hover {
  background:#70995C;
}

/* FOCUS */
.light label.text input:focus, .light label.text textarea:focus {
  background:#fff;
}

/* Dark Theme -----------------    */
html.dark {
  background:#373431;
}
.form-wrapper.dark {
  background:#373431;
  font-family:'PT Sans', Arial, sans-serif;
  font-weight:normal;
  font-size:1em;
  line-height:1em;
  color:#fff;
  padding:1em 0;
}
/* TEXT & TEXTAREA */
.dark label.text input, .dark label.text textarea {
  background:#000;
  background:rgba(0,0,0,0.16);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  transition:background .2s;
}
/* DROPDOWN & MULTIPLE*/
.dark label.dropdown select, .dark label.multiple select {
  background:#000;
  background:rgba(0,0,0,0.16);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  color: #fff;
  border: 0 none;
  border-radius:3px;
  transition:background .2s;
}
.dark label.multiple select {
  padding-bottom:1.875em;
}
.dark label.dropdown select option, .dark label.multiple select option  {
  margin-bottom:0.625em 1%;
  cursor:pointer;
  transition:all .2s;
}
.dark label.dropdown select:focus, .dark label.multiple select:focus, .dark label.dropdown select:focus option, .dark label.multiple select:focus option {

}
/* RADIO & CHECKBOX */
.dark .radio-check-label label {
  background:#000;
  background:rgba(0,0,0,0.16);
  box-shadow:0 1px rgba(255, 255, 255, 0.06);
  display:block;
  border: 0 none;
  border-radius: 3px;
  line-height:1em;
  cursor:pointer;
  overflow:hidden;
  margin-bottom:0.5em;
    
}
.dark .radio-check-label label input {
  opacity:0.01
}
.dark .radio-check-label label span {
  display:block;
  padding: 0.563em 15% 0.563em 1.875em;
  transition:all .2s;
  border-radius:3px;
}
.dark .radio-check-label label span:before {
  content: "";
  display:block;
  width:12px;
  height:12px;
  background:#000;
  background:rgba(0,0,0,0.2);
  position:absolute;
  left:8px;
  top:11px;
  border:1px solid #373431;
}
.dark .radio-check-label label.radio span:before {
  border-radius:8px;
}
.dark .radio-check-label label.checkbox span:before {
  border-radius:2px;
}
.dark .radio-check-label input:checked ~ span:before {
  background:#FFF;
  border-width:0px;

}
.dark .radio-check-label input:checked ~ span { 
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  background:#000;
  background:rgba(0,0,0,0.1);
  color:#FFF;
  
}
/* SUBMIT & RESET */
.dark input[name=submit], .dark input[name=reset] {
  margin-right:0.563em;
  margin-top:2.50em;
  font-size:1em;
  border: 0 none;
    background:#000;
  background:rgba(0,0,0,0.2);
  color: #fff;
  border-radius: 3px;
  padding: 0.563em 4em;
  cursor:pointer;
  box-shadow: 0 1px rgba(255, 255, 255, 0.06);
  transition:background 0.2s
}
.dark input[name=submit] {
  padding:0.563em 6em;
}
.dark input[name=submit]:hover, .dark input[name=reset]:hover {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  color:#FFF;
}
.dark input[name="reset"]:hover {
  background:rgba(140,29,4,0.3);
}
.dark input[name="submit"]:hover {
  background:rgba(51,102,77,0.3);
}

/* FOCUS */
.dark label.text input:focus, .dark label.text textarea:focus {
  background:#000;
  background:rgba(0,0,0,0.25);
  color:#FFF;
}
/* Dark Theme END ----------------- */

/* Options */
#options {
  margin:0 0 2em 0;
}

/* Media Queries */ 
@media screen and (max-width: 4800px)  {
  .form-wrapper .text span, .form-wrapper .dropdown span, .form-wrapper .multiple span, .form-wrapper .radio-check-label span.label {
  float:none;
  width:100%;
  color: white;
  /*margin-left: 10px;*/
}
  .form-wrapper .input-wrapper {
  	margin-left: 10px;
  	color: white;
    float:none;
    margin-top:0.625em;
    width:90%
  }
  
  .form-wrapper .input-wrapper label.radio span, .form-wrapper .input-wrapper label.checkbox span {
    margin-left: 10px;
    width:80%;
    padding-right:20%;
  }
  .form-wrapper input[name="reset"] {
    margin-top:0.563em;
    padding:0.563em 6em;
  }
}
