/*MAIN_MENU*/
.main-menu-wrapper{
	width: 100%;
	background-color: #3b4050;
	height: 50px;
	font: 14px/18px	"OpenSansBold",sans-serif;
  z-index: 100;
  /*overflow: hidden;*/
}

.main-menu > li:hover {
  background-color: #000;
}
/*1st level*/
.main-menu > li{
  float: left;
  position: relative;
  list-style: none; /*ЧЕКНУТЬ ЧТО ЗА ЛИСТ СТАЙЛ АРМЕНИАН*/
  border-right: 1px solid #505567;
}

/*2nd level*/
.main-menu > li > ul{
  position: absolute;
  z-index: 10;
  /*border: 1px solid #000;*/
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.main-menu >li >ul a{
  text-decoration: none;
  color: #000;
  background-color: #fff;
  transition: 400ms;
}

.main-menu >li>ul a:hover{
  background-color: #ccc;
}

.main-menu >li>ul>li{
  display: block;
  list-style: none;
/*  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;*/
}

.main-menu >li>ul>li>a{
  padding: 15px;
  display: block;
  list-style: none;
  z-index: 10;
  background-color: #fff;
}

.main-menu > li>a{
  line-height: 50px;
}

.main-menu >li>ul a{
  text-decoration: none;
  color: #000;
}

.main-menu >li>ul a:hover{
  background-color: #ccc;
}

.main-menu >li>ul>li{
  display: block;
  list-style: none;
}

.main-menu >li>ul>li>a{
  padding: 15px;
  display:block;
  list-style: none;
  z-index: 10;
  background-color: #fff;
}

.main-menu >li >a {
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0 25px;
}

/*Hide vlojenoe pole po defoltu*/
.main-menu >li>ul{
  display: none;
}

.main-menu >li:hover>ul{
  display: block;
}




/*
.main-menu ul li{
	float: left;
	list-style: none;
	border-right: 1px solid #6D4ACC;
}
.main-menu ul li:hover{
background-color: #5EB8E3;
cursor:pointer;
}
.main-menu ul>li>a{
line-height: 50px;
color: #ffffff;
text-decoration: none;
display: block;
padding: 0 25px;
}*/
