

.products .product-item{
 /*border:  1px solid #505567;*/
 position: relative;
 border-radius: 5px;
 min-height: 150px; 
 /*height: 400px;*/
 overflow: hidden;
 /*padding: 15px;*/
 background-color: white;
}

.padding-20{
	padding:20px 0px 0px 20px;
}

.product-item .product-sale{
	height: 46px;
	width: 84px;
	/*height: 23px;
	width: 42px;*/
	background-size: 100%;
	position: absolute;
	background-image: url(../img/sale.svg);
	background-repeat: no-repeat;
	right:0;
	top:0;
	margin:15px -5px 0px 0px;
	padding-right: 20px;
	color: #fff;
	z-index: 10;
	transform: rotate(-45deg);
}

.product-item .product-sale .sale-text{
	display: block;
	/*margin-top: 14px;*/
	margin-top: 3px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

.product-item .product-sale .sale-value{
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

.product-item .product-img{
	overflow: hidden;
	position: relative;
	/*background-color: white;
	opacity: 1;
	transition: 200ms;*/
    /*height: 300px;*/
}


.product-img .product-zoom{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
	transition: 200ms;
}

.product-img .product-zoom:hover{
	opacity: 0.4;
	cursor: pointer;
	}

.product-zoom .zoom-eye{
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../img/eye.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    z-index: 22;
    /*margin: 55% 0 0 30%;*/

}

/*.product-item .product-img:hover{
	opacity: 0.8;
}*/


@media (max-width : 768px)
{
	.product-img {
		height: 100%;
	}

	.product-zoom .zoom-eye{
        margin: 55% 0 0 30%;
    }
}

@media (min-width : 768px)
{
	.product-img {
		height: 400px;
	}

	.product-zoom .zoom-eye{
        margin: 35% 0 0 30%;
    }
}

@media (min-width : 890px)
{
	.product-img {
		height: 500px;
	}

	.product-zoom .zoom-eye{
        margin: 35% 0 0 30%;
    }
}

@media (min-width : 992px)
{
	.product-img {
		height: 250px;
	}

	.product-zoom .zoom-eye{
        margin: 35% 0 0 30%;
    }
}

ненужный запрос ниже
/*@media (min-width : 1100px)
{
	.product-img {
		height: 220px;
	}
}*/

@media (min-width : 1200px)
{
	.product-img {
		height: 250px;
	}

	.product-zoom .zoom-eye{
        margin: 45% 0 0 30%;
    }
}


@media (min-width : 1250px)
{
	.product-img {
		height:250px;
	}

	.product-zoom .zoom-eye{
        margin: 40% 0 0 30%;
    }
}


@media (min-width : 1460px)
{
	.product-img {
		height:320px;
	}

	.product-zoom .zoom-eye{
        margin: 45% 0 0 30%;
    }
}


@media (min-width : 1600px)
{
	.product-img {
		height:320px;
	}

	.product-zoom .zoom-eye{
        margin: 30% 0 0 30%;
    }
}





/*.clearfix:after {
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}*/

.product-item img{
	width: 100%;
	/*zoom: 20%;*/
}

.product-item .product-img img{
    width: 100%;
    /*zoom:20%;*/
}

.product-item .product-rating{
	position: absolute;
    
	height: 20px;
	width: 26px;
	background-image: url(../img/loves.svg);
	background-position: 0 -120px;
	/*background-position: -3px -3px;*/
	/*background-size: 100%;*/
	background-repeat: repeat-x;
	float: left;
	margin:10px 0px 10px 10px;
}

/* .product-rating:nth-of-type(1){
	margin: 10px 0px 10px 10px;
}

.product-rating:nth-of-type(n+2){
	margin: 10px 0px 10px 5px;
}*/


.product-rating:nth-of-type(1){
    left: 104px;
}

.product-rating:nth-of-type(2){
	left:78px;
}

.product-rating:nth-of-type(3){
	left:52px;
}

.product-rating:nth-of-type(4){
	left:26px;
}

.product-rating:nth-of-type(5){
	left: 0px;
}


/*input[type="radio"]:nth-of-type(1):checked ~  .product-rating:nth-of-type(1){
	background-position: 0 -120px;
}*/

.product-item input[type="radio"] {
    display:none;            
}

#like1:checked ~  .product-rating:nth-of-type(n+1){
	background-position: 0 -140px;
}

#like2:checked ~  .product-rating:nth-of-type(n+2){
	background-position: 0 -140px;
}

#like3:checked ~  .product-rating:nth-of-type(n+3){
	background-position: 0 -140px;
}

#like4:checked ~  .product-rating:nth-of-type(n+4){
	background-position: 0 -140px;
}

#like5:checked ~  .product-rating:nth-of-type(5){
	background-position: 0 -140px;
}

#like4label:hover ,
#like4label:hover ~ #like5label{
	background-position: 0 -20px;
	cursor: pointer;
}

#like3label:hover ,
#like3label:hover ~ #like5label, 
#like3label:hover ~ #like4label{
	background-position: 0 -20px;
	cursor: pointer;
}

#like2label:hover ,
#like2label:hover ~ #like5label,
#like2label:hover ~ #like4label,
#like2label:hover ~ #like3label{
	background-position: 0 -20px;
	cursor: pointer;
}

#like1label:hover ,
#like1label:hover ~ #like5label,
#like1label:hover ~ #like4label,
#like1label:hover ~ #like3label,
#like1label:hover ~ #like2label{
	background-position: 0 -20px;
	cursor: pointer;
}

/*.product-rating:nth-of-type(3):hover ~ .product-rating:nth-of-type(-n+2){
	background-position: 0 -20px;
	cursor: pointer;
}

.product-rating:nth-of-type(4):hover ~ .product-rating:nth-of-type(-n+3){
	background-position: 0 -20px;
	cursor: pointer;
}

.product-rating:nth-of-type(5):hover ~ .product-rating:nth-of-type(-n+4){
	background-position: 0 -20px;
	cursor: pointer;
}
*/

.product-item .product-rating:hover{
	background-position: 0 -20px;
	cursor: pointer;
	z-index: 100;
	}

.product-item .product-rating:active{
	background-position: 0 -40px;
	cursor: pointer;
	z-index:100;
	}



/*input[id="1like"]:checked + label[for="1like"]{
	background-position: 0 -120px;
}*/


.product-rating-1{
	width: 22px;
}

.product-rating-2{
	width: 48px;
}

.product-rating-3{
	width: 74px;
}

.product-rating-4{
	width: 100px;
}

.product-rating-5{
	width: 126px;
	/*background-color: black;*/
}

.product-feads{
	float: right;
	margin: 10px 10px 10px 10px;
	height: 23px;
	width:32px;
	background-image:url(../img/feads.svg);
	/*background-size: 100%;*/
	/*transform: rotateX(180deg);*/
	background-position: 0 -60px;
	cursor: pointer;
}

.product-feads:hover{
	background-position: 0 -83px;
}

.product-feads:active{
	background-position: 0 -106px;
}

.product-feads a{
	padding-top: 1px;
    display: block;
	font-size: 10pt;
	text-align: center;
	text-decoration: none;
	font-family: "OpenSansRegular",sans-serif;
}

.product-feads a:hover{
	color: black;
}

.product-feads a:active{
	color: black;
}

.product-title{
	font-size: 12pt;
	margin:10px;
	height: 50px;
}

.product-price{
	/*position: relative;*/
    height:60px;
    width: 100%;
    background-color: #f7f7f7;
}

.product-price span{
	display: block;
	padding-top: 22px;
    margin-top: 15px;
	text-align: center;
	font-size: 24pt;
	/*color: red;*/
}

.product-price .product-button{
	height: 100%;
	width: 60px;
	/*margin-right: -4px;*/
	float:right;
}

@media (max-width : 992px)
{
	.left-sidebar {
		display: none;
	}
}