@import "_main-menu.css";
@import "_products.css";
@import "_grid.css";
@import "_tabs.css";
@import "_font-awesome.css";
@import "_buttons.css";
@import "font.css";
@import "_filters.css";
@import "../noUIslader/nouislider.css";
@import "../noUIslader/nouislider.pips.css";
@import "../noUIslader/nouislider.tooltips.css";

*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
article, aside, details, figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display: block;
}
body{
	font: 12px/18px "OpenSansRegular",sans-serif;
	height: 100%;
}
header{
	position: relative;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	height: auto; !important;
	height: 100%;
	margin: 0 auto;
}
.pull-bottom{
	position: absolute;
	bottom: 0;
}
/*HEADER*/
.header
{
	height: 150px;
	padding: 40px 0 31px;
}
/*MIDDLE*/
.middle{
	width: 100%;
	padding: 0 0 100px;
	position: relative;
	width:1170px;
	margin: 0 auto;
}
.middle:after{
	display: table;
	clear: both;
	content: "";
}
.content{
	/*padding: 20px 20px 20px 230px;*/
}
.content h1{
	padding-bottom: 15px;
}
.content p{
	text-align: justify;
	text-indent: 25px;
}
/*LEFT SIDEBAR*/
.left-sidebar{
	float: left;
	/*width: 210px;*/
}
/*LEFT MENU*/
.left-menu-wrapper{
	overflow: hidden;
	font-size: 13px;
	font-family: "OpenSansBold",sans-serif;

}
.left-menu-wrapper a{
	text-decoration: none;
	color: #bac0d2;
}
.left-menu-wrapper .left-menu-title{
	padding: 17px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	font-weight: 700;
	font-size: 16px;
	background-color: #222735;
}
.left-menu-wrapper>ul{
 /*border-bottom: 1px solid #222735;*/
}
ul.left-menu > li{
	height: 50px;
	overflow: hidden;
	background-color:#3b4050;
	list-style: none;
	border-left: 1px solid #222735;
	border-right: 1px solid #222735;
}
ul.left-menu > li > a:hover{
	color:#fff;
	background-color: #2f3444;
}
ul.left-menu > li:hover{
	border-left: 1px solid #2f3444 ;
	border-right: 1px solid #2f3444 ;
}

ul.left-menu > li > img{
	position: relative;
	width:20%;
	float: left;
	margin-right: 15px;
}

ul.left-menu > li > img:hover{
cursor: pointer;
}

/*ul.left-menu > li > img:hover > a{
	color:#fff;
	background-color: #2f3444;
}*/


ul.left-menu > li > a{
	/*float: left;*/
	width: 100%;
	display: block;
	height: 50px;
	padding: 17px 15px;

}

ul.left-menu > li > a > span {
	float: right;
	padding-left: 10px;
}

ul.left-menu > li > ul{
	display: none;
}
ul.left-menu > li:nth-child(2n){
	background-color:#353b4c;
}
ul.left-menu > li:last-child{
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #222735;
}
/*ul.left-menu > li:nth-child(7n):hover{
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #222735;
}*/

/*@media (min-width : 1200px; max-width: 1500px)
{
	.left-sidebar{
		width: 600px;
	}
}*/




/*FOOTER*/
.footer {
	margin: 0 auto 0;	
	height: 100px;
	width:100%;
	background: #eaeaea;
	position: relative;
}

.footer .copyright {
	position: absolute;
	padding: 10px;
	/*bottom: 0;*/
}

.footer .footer-menu li {
	list-style: none;
	margin: 10px;
	float: left;
}



/*COMMON STYLE*/

.container{
	background: #e8eef3;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.padding-top-20{
	padding-top: 20px;
}

.top-bar{
	height: 35px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #e2e2e2;
}
.top-bar ul li {
	list-style: none;
	float: left;
}
.top-bar ul li a{
	text-decoration: none;
	line-height: 35px;
	padding: 3px 15px;
	border-right: 1px solid #e0e0e0;
	color: #848484;
}
.top-bar ul li a:hover, .top-barul li a:focus, .top-bar ul li a:active {
	color: #865BFA;
}
.pull-right{
	float: right;
}


